/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

*:focus {
  outline: 0 !important;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
}
