/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

*:focus {
  outline: 0 !important;
}

body {
  height: 100dvh;
  font-family: 'Courier New', Courier, monospace;
  background-color: gainsboro;
}


::selection {
    color: white;
    background-color: black;
}